
$color-primary: #050505;
$color-primary-light: #0a0a0a;
$color-primary-dark: #000000;

$color-light-2: #e0aaff;

$color-grey-light-1: #f8f9fa;
$color-grey-light-2: #e9ecef;
$color-grey-light-3: #dee2e6;

$color-grey-dark-1: #343a40;
$color-grey-dark-2: #212529;

$color-success: #55c57a;
$color-success-light: #7ed56f;
$color-success-dark: #28b485;
$color-failure: #ff7730;

$color-black: #000;
